{% extends "base.html" %}

 {% block title %} Enter room name {% endblock %}

  {% block content %}
    <div class="container">

    <center class="m-2 alert alert-light">  What chat room would you like to enter? </center>
     <input id="room-name-input" class="form-control" type="text" size="100"><br>
     <input id="room-name-submit" class="btn btn-secondary btn-lg btn-block mt-1" type="button" value="Enter">

   </div>

  {% endblock %}


  {% block exstra_scripts %}
    <script>
      document.querySelector('#room-name-input').focus();
      document.querySelector('#room-name-input').onkeyup = function(e) {
          if (e.keyCode === 13) {  // enter, return
              document.querySelector('#room-name-submit').click();
          }
      };

      document.querySelector('#room-name-submit').onclick = function(e) {
          var roomName = document.querySelector('#room-name-input').value;
          window.location.pathname = '/chat/' + roomName + '/';
      };
    </script>
  {% endblock exstra_scripts %}
</body>
</html>
