{% extends "base.html" %}
{% load static %}

  {% block exstra_links %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
    <script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
    <script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
    <meta charset='UTF-8' name="robots" content="noindex">
    <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <style class="cp-pen-styles"></style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}

  {% block title %} {{room_name}} {% endblock %}

  {% block content %}
    <div id="frame">
    	<div id="sidepanel">
    		<div id="profile">
    			<div class="wrap">
    				<img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
    				<p>{{ username }}</p>

    				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
    				<div id="status-options">
    					<ul>
    						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
    						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
    						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
    						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
    					</ul>
    				</div>
    				<div id="expanded">
    					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
    					<input name="twitter" type="text" value="mikeross" />
    					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
    					<input name="twitter" type="text" value="ross81" />
    					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
    					<input name="twitter" type="text" value="mike.ross" />
    				</div>
    			</div>
    		</div>
    		<div id="search">
    			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
    			<input type="text" placeholder="Search contacts..." />
    		</div>

    		<div id="contacts">
    			<ul>
    				<li class="contact active">
    					<div class="wrap">
    						<span class="contact-status busy"></span>
    						<img src="https://p7.hiclipart.com/preview/349/273/275/livechat-online-chat-computer-icons-chat-room-web-chat-others.jpg" alt="" />
    						<div class="meta">
    							<p class="name">{{ room_name }}</p>
    							<p class="preview">lest Chat</p>
    						</div>
    					</div>
    				</li>
    			</ul>
    		</div>
    	</div>


    	<div class="content">
    		<div class="contact-profile">
    			<img src="https://p7.hiclipart.com/preview/349/273/275/livechat-online-chat-computer-icons-chat-room-web-chat-others.jpg" alt="" />
    			<p>{{ room_name }}</p>
    			<div class="social-media">
    				<i class="fa fa-facebook" aria-hidden="true"></i>
    				<i class="fa fa-twitter" aria-hidden="true"></i>
    				 <i class="fa fa-instagram" aria-hidden="true"></i>
    			</div>
    		</div>

    		<div class="messages">
    			<ul id='chat-log'>
            <!-- <li class="replies">
              <img src="http://emilcarlsson.se/assets/mikeross.png">
              <p>hiiiiiiiiiiiiii</p>
            </li> -->
    			</ul>
    		</div>

    		<div class="message-input">
    			<div class="wrap">
    			<input  id="chat-message-input" type="text"  placeholder="Write your message..." />
    			<button  id="chat-message-submit" class="submit" >
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
    			</div>
    		</div>
    	</div>
    </div>

  {% endblock %}

  {% block exstra_scripts %}
    <script src="{% static 'js/main.js' %}" ></script>
    <script src=" {% static 'js/reconnecting-websocket.js' %} "></script>
    <script>
        var roomName = "{{room_name}}";
        var username = "{{ username }}";

        var chatSocket = new ReconnectingWebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function(e){
          fetchMessages();
        }

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            if (data['command'] === 'messages') {
              for (let i = 0; i <data['messages'].length; i++) {
                createMessage(data['messages'][i]);
              }

            }else if (data['command'] === 'new_message') {
              createMessage(data['message']);
            }
          };

        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13 ) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };


        document.querySelector('#chat-message-submit').onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            if ( message != '') {
              chatSocket.send(JSON.stringify({
                  'command' : 'new_message',
                  'message': message,
                  'from': username,
                  'room_name': "{{ room_name}}"
              }));
              messageInputDom.value =''
            }}

        function fetchMessages(){
          chatSocket.send(JSON.stringify({
            'command' : 'fetch_messages',
            'room_name': "{{ room_name}}"
          }));
        }

        function createMessage(data){
          var author = data['author'];
          var msgListTag = document.createElement('li');
          var imgTag = document.createElement('img');
          var pTag = document.createElement('p');
          var x = document.createElement("br");
          pTag.textContent = data.content;
          imgTag.src = 'http://emilcarlsson.se/assets/mikeross.png';

          if (author === username) {
            msgListTag.className = 'sent';
          } else {
            msgListTag.className = 'replies';
          }

          msgListTag.appendChild(imgTag);
          msgListTag.appendChild(pTag);
          document.querySelector('#chat-log').appendChild(msgListTag);


        }

        document.querySelector('#chat-message-input').focus();

    </script>
  {% endblock exstra_scripts %}
